@media only screen and (min-width: 1220px) {

        #mygrid {
                display: -ms-grid;
                -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
                -ms-grid-rows: 100px 1fr;
                margin: 5px;
            }
 
        #myheader {
                grid-row: 1;
                grid-column: 1;
                -ms-grid-column-span: 5;
                background-color: yellow;
                 font-family: poppins;
        }
        #block1 {
                grid-row: 2;
                grid-column: 1;
                background-color: white;
                 font-family: poppins;
        }
        #block2 {
                grid-row: 2;
                grid-column: 3;
                background-color: white;
                font-family: poppins;
                }
                img, object {
                        max-width: 100%;
                }
        #block3 {
                grid-row: 2;
                grid-column: 5;
                background-color: white;
                font-family: poppins;
        }
    }
    
